<div class="container display-flex">
  <h1 class="mb-5"><%= @task.title %></h1>

  <div class="btn btn-outline-dark">
    <%= link_to 'Edit this task', edit_task_path %>
  </div>
  <div class="btn btn-outline-dark">
    <%= link_to 'Delete this task', task_path(@task), method: :delete, data: { confirm: "Delete #{@task.title}?" } %>
  </div>

  <div class="bg-light border border-secondary border-2 rounded my-3 p-3">
    <p><%= @task.details %></p>
  </div>

  <% if @task.completed %>
    <p><i class="far fa-check-square"></i> This task is completed</p>
  <% else %>
    <p><i class="far fa-square"></i> This task is not completed yet</p>
  <% end %>

  <%= link_to 'Back to list', tasks_path %>
</div>
